#body {
  display: flex;
  justify-content: space-between;
}

#allBlogs {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 10px;
}

#allBlogs > div {
  margin: auto;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imageDiv > img {
  width: 80%;
  height: 70%;
}

#allBlogs > div h5 {
  font-weight: 700;
  color: #001b39;
  font-size: 15px;
}

#allBlogs > div button {
  font-weight: 700;
  color: #001b39;
  font-size: 15px;
  margin-left: 75%;
}

#heading {
  font-weight: 700;
  color: #001b39;
  font-size: 18px;
}

.descDiv {
  padding: 30px;
}

#sidePanel {
  width: 25%;
}

#allArticles > div {
  padding: 10px;
}

#article {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

#article > div > img {
  width: 80%;
  height: 70%;
}

#article h5 {
  font-weight: 700;
  color: #001b39;
  font-size: 13px;
}

.parentDiv {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}
