#mainContainer{
    padding: 20px;
    width: 30%;
}

#heading{
    font-weight: 600;
    font-size: 32px;
}

#mainContainer >p{
    font-weight: 700;
    font-size: 18px;
}

.couponDiv{
    margin-top: 20px;
    /* width: 30%; */
    display: block;
    text-align: center;
    align-items: center;
    border: .5px solid grey;
    border-radius: 20px;
    background-color: #EEEEEE;
}
.couponDiv > *{
    margin: 20px;
}

#logo{
    display: flex;
    justify-content: space-evenly;
}

#logo > img{
    width: 50px;
}

#logo >p{
    color:  #001B39;
    font-weight: 400;
    font-size: 24px;
}

#terms{
    color: #001B39;
    font-size: 18px;
    font-weight: 700;
}

#code{
    display: flex;
    justify-content: space-evenly;
}

#code > div{
    padding: 10px 20px 10px 20px;
    border: 1px dotted #001B39;
}

#code > button{
    font-weight: 700;
    font-size: 20px;
}