h1{
    font-weight: 700;
    color: #001B39;
    font-size: 25px;
}

.terms_content{
    margin: 30px;
    align-items: center;
}

.subtitle{
    padding: 10px;
    font-weight: 500;
    color: #001B39;
    font-size: 18px;
}

.para{
    padding: 10px;
    font-weight: 400;
    color: #001B39;
    font-size: 15px;
}